.product-card

	.container

		.breadcrumbs
			ul.breadcrumbs-list
				li.breadcrumbs-item
					a(href="/").breadcrumbs-link.breadcrumbs-link_home Home 
					span /	
				li.breadcrumbs-item
					a(href="#") Apple	
					span /
				li.breadcrumbs-item
					a(href="#") Apple Watch
					span /
				li.breadcrumbs-item
					a Смарт-часы Apple Watch S2 Sport 42mm Silver Al/White (MNPJ2RU/A)

		.product
			.product-column1
				.swiper-container.gallery-top
					.swiper-wrapper
						.swiper-slide(style="background-image:url(img/watch.jpg)")

				.swiper-container.gallery-thumbs
					.swiper-wrapper
						.swiper-slide(style="background-image:url(img/watch.jpg)")
			.product-column2
				h1.product-title СМАРТ-ЧАСЫ APPLE <br> WATCH S2 SPORT <br> 42MM SILVER AL/WHITE
