.brends
	.container
		ul.breadcrumbs-list
				li
					a(href="/").breadcrumbs-link.breadcrumbs-link_home Домой 
	
				li
					a Магазины

		h1.main-title Любимые бренды

		.brends-content
			.tab
				ul
					li
						a(href="#tab1").active Одежда и обувь

					li
						a(href="#tab2") Активный образ жизни

					li
						a(href="#tab3") Товары для детей

					li
						a(href="#tab4") Спорт

					li
						a(href="#tab5") Электроника и фототехника

					li
						a(href="#tab6") Музыкальные инструменты

					li
						a(href="#tab7") Косметика

					li
						a(href="#tab8") Товары для дома
			
			#tab1.text-align__center.tab__box
				p Таб1 - какой то текст
			
			#tab2.text-align__center.tab__box
				p Таб2 - какой то текст
			
			#tab3.text-align__center.tab__box
				p Таб3 - какой то текст

			#tab4.text-align__center.tab__box
				p Таб4 - какой то текст

			#tab5.text-align__center.tab__box
				p Таб5 - какой то текст
			
			#tab6.text-align__center.tab__box
				p Таб6 - какой то текст
			
			#tab7.text-align__center.tab__box
				p Таб7 - какой то текст

			#tab8.text-align__center.tab__box
				p Таб8 - какой то текст