.catalog
    .container
        .breadcrumbs
            ul.breadcrumbs-list
                li
                    a(href="/").breadcrumbs-link.breadcrumbs-link_home
                li
                    a(href="#").breadcrumbs-link Apple
                li
                    a(href="#").breadcrumbs-link Apple Watch

        h1.main-title Товары Apple
        .catalog__inner
            .sidebar
                form(action="#")
                    .sidebar__price.shadow-block
                        .sidebar__title Цена
                        .price-inp
                            input(type="text" disabled).inputForGlobal.price-inp__left
                            input(type="text" disabled).inputForGlobal.price-inp__right

                        .custom-range.price-range

                    .sidebar__discount.shadow-block
                        .my-subscription
                            input(type="checkbox")#discountCheck
                            label(for="discountCheck") Товары со скидкой
                        .sidebar__count 244

                    .sidebar__color.shadow-block
                        .sidebar__title Цвет
                        ul.color-pick
                            li
                                .my-subscription
                                    input(type="checkbox" name="color-brown")#brownCheck
                                    label(for="brownCheck") Коричневый
                                        .color-pick__img
                                            img(src="img/brown-color.png")
                                .sidebar__count 2

                            li
                                .my-subscription
                                    input(type="checkbox" name="color-pink")#pinkCheck
                                    label(for="pinkCheck") Розовый
                                        .color-pick__img
                                            img(src="img/color-pink.png")
                                .sidebar__count 3

                            li
                                .my-subscription
                                    input(type="checkbox" name="color-grey")#greyCheck
                                    label(for="greyCheck") Серый
                                        .color-pick__img
                                            img(src="img/grey-color.png")
                                .sidebar__count 4

                            li
                                .my-subscription
                                    input(type="checkbox" name="color-red")#redCheck
                                    label(for="redCheck") Красный
                                        .color-pick__img
                                            img(src="img/red-color.png")
                                .sidebar__count 7

                    .sidebar__size.shadow-block
                        .sidebar__title Размер
                        .sidebar__item
                            .my-subscription
                                input(type="checkbox")#sizeCheck
                                label(for="sizeCheck") 38mm
                            .sidebar__count 2

                    .sidebar__size.shadow-block
                        .sidebar__title Марка
                        .my-select
                            select.js-example-basic-single
                                option Apple
                                option Samsung
                                option Nokia

                    .sidebar__state.shadow-block
                        .sidebar__title Состояние
                        ul.state-list
                            li
                                .subscription-select
                                    input(type="radio" name="state")#stateNew
                                    label(for="stateNew") Новое
                                .sidebar__count 2
                            li
                                .subscription-select
                                    input(type="radio" name="state")#stateold
                                    label(for="stateold") Восстановленное
                                .sidebar__count 2

                    .sidebar__btn
                        button(type="submit").btn-light Применить 


            .catalog__content
                .filter
                    .form-cell
                        label Сортировать по:
                        .my-select
                            select.js-example-basic-single
                                option По убыванию
                                option По возрастанию
                    .form-cell
                        label Показывать на странице:
                        .page-list
                            a(href="#") 15
                            a(href="#") 30
                            a(href="#") 60
                
                ul.cat-product
                    li
                        .product-box
                            .product-box__discount -20%
                            a(href="#").product-box__img
                                img(src="img/pop-2.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816                    
                            .price-action
                                .product-box__price.price-action__new 30 139 ₽
                                .price-action__old
                                    strike 40 139 ₽
                            a(href="#").product-box__article Игра для PlayStation 4 <br>FIFA 19
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
                    li
                        .product-box
                            a(href="#").product-box__img
                                img(src="img/pop-3.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816   
                            .product-box__price Нет в наличии
                            a(href="#").product-box__article Геймпад Microsoft Xbox<br> One Controller черный
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
                    li
                        .product-box
                            a(href="#").product-box__img
                                img(src="img/pop-4.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816  
                            .product-box__price 30 139 ₽
                            a(href="#").product-box__article Геймпад Sony<br> DualShock 4 v2<br> (CUH-ZCT2E)<br> Антрацитовый черный
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..

                    li
                        .product-box
                            .product-box__discount -20%
                            a(href="#").product-box__img
                                img(src="img/pop-2.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816                    
                            .price-action
                                .product-box__price.price-action__new 30 139 ₽
                                .price-action__old
                                    strike 40 139 ₽
                            a(href="#").product-box__article Игра для PlayStation 4 <br>FIFA 19
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
                    li
                        .product-box
                            a(href="#").product-box__img
                                img(src="img/pop-3.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816   
                            .product-box__price Нет в наличии
                            a(href="#").product-box__article Геймпад Microsoft Xbox<br> One Controller черный
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
                    li
                        .product-box
                            a(href="#").product-box__img
                                img(src="img/pop-4.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816  
                            .product-box__price 30 139 ₽
                            a(href="#").product-box__article Геймпад Sony<br> DualShock 4 v2<br> (CUH-ZCT2E)<br> Антрацитовый черный
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..

                    li
                        .product-box
                            .product-box__discount -20%
                            a(href="#").product-box__img
                                img(src="img/pop-2.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816                    
                            .price-action
                                .product-box__price.price-action__new 30 139 ₽
                                .price-action__old
                                    strike 40 139 ₽
                            a(href="#").product-box__article Игра для PlayStation 4 <br>FIFA 19
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
                    li
                        .product-box
                            a(href="#").product-box__img
                                img(src="img/pop-3.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816   
                            .product-box__price Нет в наличии
                            a(href="#").product-box__article Геймпад Microsoft Xbox<br> One Controller черный
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
                    li
                        .product-box
                            a(href="#").product-box__img
                                img(src="img/pop-4.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816  
                            .product-box__price 30 139 ₽
                            a(href="#").product-box__article Геймпад Sony<br> DualShock 4 v2<br> (CUH-ZCT2E)<br> Антрацитовый черный
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
                    li
                        .product-box
                            .product-box__discount -20%
                            a(href="#").product-box__img
                                img(src="img/pop-2.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816                    
                            .price-action
                                .product-box__price.price-action__new 30 139 ₽
                                .price-action__old
                                    strike 40 139 ₽
                            a(href="#").product-box__article Игра для PlayStation 4 <br>FIFA 19
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
                    li
                        .product-box
                            a(href="#").product-box__img
                                img(src="img/pop-3.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816   
                            .product-box__price Нет в наличии
                            a(href="#").product-box__article Геймпад Microsoft Xbox<br> One Controller черный
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
                    li
                        .product-box
                            a(href="#").product-box__img
                                img(src="img/pop-4.jpg")
                            .product-box__info
                                .current-rating
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item.active
                                    .current-rating__item
                                    .current-rating__item
                                a(href="#").comment-link 10
                            .product-box__code Код товара: art752816  
                            .product-box__price 30 139 ₽
                            a(href="#").product-box__article Геймпад Sony<br> DualShock 4 v2<br> (CUH-ZCT2E)<br> Антрацитовый черный
                            .product-box__hidden
                                .product-box__add-basket
                                    button.btn-light В корзину
                                    .favor
                                p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
                
                .pagination
                    a(href="#").btn-light.pagination__prev
                    .pagination__inner
                        a(href="#").is-active 1
                        a(href="#") 2
                        a(href="#") 3
                        a(href="#") 4
                        span ...
                        a(href="#") 100
                    a(href="#").btn-light.pagination__next 
                     
                    
