.container
    .main-slider.swiper-container
        .swiper-wrapper
            .swiper-slide(style="background-image:url(img/man.jpg)")
                .main-slider__content
                    p Очки HTC VR <br>со скидкой 30%  
                    button.btn-yellow.slider-btn Перейти в каталог
            .swiper-slide(style="background-image:url(img/slide.png)")
                .main-slider__content
                    p Тестовый товар 
                    button.btn-yellow.slider-btn Перейти в каталог
            .swiper-slide(style="background-image:url(img/man.jpg)")
                .main-slider__content
                    p Тестовый товар 2  
                    button.btn-yellow.slider-btn Перейти в каталог
            .swiper-slide(style="background-image:url(img/slide.png)")
                .main-slider__content
                    p Тестовый товар  3 
                    button.btn-yellow.slider-btn Перейти в каталог
                    
        .slider-navigate
            .swiper-button-prev
            .swiper-pagination        
            .swiper-button-next
    
    .steps-shipping
        h1.main-title Шоппинг напрямую в популярных<br> интернет-магазинах мира!
        p.steps-shipping__article Большинство зарубежных магазинов не доставляют в Россию          
        p.steps-shipping__title Выбирайте товары из США, Китая, Европы и других стран,<br> а мы доставим Ваш товар!
        
        .steps-list
            ul
                li
                    .step-img
                        img(src="img/step-1.svg")
                    .steps-list__title Выберите товар
                    p Оплачивайте товар из нашего 
                        a(href="#") каталога
                        |, где указаны реальные цены и ссылки на официальный магазин
                li
                    .step-img
                        img(src="img/step-2.svg")
                    .steps-list__title Оформите доставку
                    p Магазины отправляют товар на наши склады зарубежом. А мы доставляем товар вам в руки!
                li
                    .step-img
                        img(src="img/step-3.svg")
                    .steps-list__title Получите ваш товар
                    p Посылка придет уже через 7-10 дней! Заберите в пункте выдачи или курьером
    
    .popular-cat
        h2.main-title.popular-cat__title Популярные категории
        .popular-list
            a(href="#").popular-list__item.popular-list__item_blue
                .popular-list__img
                    img(src="img/cat-1.png" alt="Бытовая техника и электорника")
                .popular-list__title Бытовая техника <br>и электроника
            
            a(href="#").popular-list__item.popular-list__item_red
                .popular-list__img
                    img(src="img/cat-2.png" alt="Одежда и обувь")
                .popular-list__title Одежда <br>и обувь 
                
            a(href="#").popular-list__item.popular-list__item_green
                .popular-list__img
                    img(src="img/cat-3.png" alt="Косметика и гигиена")
                .popular-list__title Косметика <br>и гигиена
                
            a(href="#").popular-list__item.popular-list__item_red
                .popular-list__img
                    img(src="img/cat-4.png" alt="Музыкальные иснтрументы")
                .popular-list__title Музыкальные <br>иснтрументы
                
            a(href="#").popular-list__item.popular-list__item_grey
                .popular-list__img
                    img(src="img/cat-5.png" alt="Спорт и активный отдых")
                .popular-list__title Спорт и активный <br>отдых
                
            a(href="#").popular-list__item.popular-list__item_light
                .popular-list__img
                    img(src="img/cat-6.png" alt="Бытовая химия")
                .popular-list__title Бытовая <br>химия
                
            a(href="#").popular-list__item.popular-list__item_purple
                .popular-list__img
                    img(src="img/cat-7.png" alt="Товары для дома")
                .popular-list__title Товары <br>для дома
                
            a(href="#").popular-list__item.popular-list__item_orange
                .popular-list__img
                    img(src="img/cat-8.png" alt="Детские товары и игрушки")
                .popular-list__title Детские товары <br>и игрушки
                
            a(href="#").popular-list__item.popular-list__item_purple
                .popular-list__img
                    img(src="img/cat-9.png" alt="Украшения и аксессуары")
                .popular-list__title Украшения <br>и аксессуары   
    
    .popular-product
        h2.main-title Популярные товары
        p.popular-product__article Сравните цены в России и в зарубежных магазинах
        ul.popular-product__list
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-1.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Игровая приставка <br>Microsoft Xbox One X <br>Белый
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-2.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Игра для PlayStation 4 <br>FIFA 19
            li    
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-3.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Геймпад Microsoft Xbox<br> One Controller черный
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-4.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Геймпад Sony<br> DualShock 4 v2<br> (CUH-ZCT2E)<br> Антрацитовый черный
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-1.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Игровая приставка <br>Microsoft Xbox One X <br>Белый
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-2.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Игра для PlayStation 4 <br>FIFA 19
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-3.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Геймпад Microsoft Xbox<br> One Controller черный
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-4.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Геймпад Sony<br> DualShock 4 v2<br> (CUH-ZCT2E)<br> Антрацитовый черный
            
