.success
	.container
		.breadcrumbs
			ul.breadcrumbs-list
				li.breadcrumbs-item
					a(href="/").breadcrumbs-link.breadcrumbs-link_home Домой
					span /
				li.breadcrumbs-item
					a(href="#") Корзина
					span /
				li.breadcrumbs-item
					a(href="#") Оформление
					span /
				li.breadcrumbs-item
					a Успешно
		.success-block
			img(src="img/success.svg")
			h1 Заказ успешно оформлен!
			p Ваш заказ был успешно сформирован! 
			p Если у вас возникнут какие либо вопросы, пожалуйста, свяжитесь с нами. 
			p.bold Спасибо за покупки в нашем интернет-магазине!
			button.btn-light.success-block-btn Продолжить