.process
	.container
		.breadcrumbs
			ul.breadcrumbs-list
				li.breadcrumbs-item
					a(href="/").breadcrumbs-link.breadcrumbs-link_home Домой 
					span /	
				li.breadcrumbs-item
					a Как это работает?
		h1.main-title.process-title Делать заказы в США <br> очень просто!
		p.process-description Американские магазины не доставляют в Россию, но это не проблема. С Почтой.ком можно покупать по лучшим ценам и экономить на доставке. У нас есть два склада в США, вы можете использовать их адреса и делать заказы. Мы получим ваши посылки, надежно упакуем и отправим их к вам домой.
		ul.process-list
			li.process-item.process-item__adress
				.process-inner
					h2 Шаг 1
					h3 Получаем адрес для<br> покупок в магазинах США
					p Почтой.ком поможет притвориться американцем и не переплачивать. Для этого нужно зарегистрироваться в нашем сервисе. После регистрации вам станут доступны два адреса в Америке, которые вы сможете указывать при оформлении заказов в интернет-магазинах.
			li.process-item.process-item__shop
				.process-inner
					h2 Шаг 2
					h3 Идём за покупками в<br> онлайн-магазины
					p Выбираем нужные товары в магазинах Америки. Расплачиваемся, как обычно, в качестве адреса доставки указываем координаты одного из складов Почтой.ком. Оформить покупки можно самостоятельно или с нашей помощью. Вот список того, что покупать нельзя.
			li.process-item.process-item__logistic
				.process-inner
					h2 Шаг 3
					h3 Следим за перемещением<br> посылки до склада
					p После оформление заказа магазин пришлет трек-номер посылки на ваш e-mail и отправит вещи на наш склад. Через 5-7 дней покупки придут к нам, мы поместим их в специальное хранилище, закрепленное за вашим аккаунтом.
			li.process-item.process-item__pay
				.process-inner
					h2 Шаг 4
					h3 Оплачиваем доставку и покупки<br> отправляются домой
					p Мы сообщим, когда ваши покупки поступят на склад. Вы сможете заказать что-то еще в других магазинах и отправить все одной посылкой (так выгоднее). До 70 дней покупки будут храниться бесплатно. Когда все товары поступили на склад, выбирайте способ доставки, мы надежно все упакуем и отправим вам, сообщив трек-номер.
			li.process-item.process-item__bring
				.process-inner
					h2 Шаг 5
					h3 Получаем посылку и спешим<br> сделать новый заказ
					p Примерно через 10 дней посылка приедет к вам домой, в пункт выдачи заказов или на почту. Получаем покупки и радуемся :)