.product-card
    .container
        .product
            .column
                

            .column
                h1.main-title.product__title СМАРТ-ЧАСЫ APPLE <br> WATCH S2 SPORT <br> 42MM SILVER AL/WHITE
