.product-card
    .container
        .breadcrumbs
            ul.breadcrumbs-list
                li
                    a(href="/").breadcrumbs-link.breadcrumbs-link_home Home 
                li
                    a(href="#") Apple	
                li
                    a(href="#") Apple Watch
                li
                    a Смарт-часы Apple Watch S2 Sport 42mm Silver Al/White (MNPJ2RU/A)
        .product-block
            .product__top
                .column
                    .fotorama(data-nav="thumbs")
                        img(src="img/watch.jpg")
                        img(src="img/watch.jpg")
                        img(src="img/watch.jpg")
                        img(src="img/watch.jpg")
                        img(src="img/watch.jpg")
                        img(src="img/watch.jpg")
                .column
                    h1.main-title.product__title СМАРТ-ЧАСЫ APPLE <br>WATCH S2 SPORT <br>42MM SILVER <br>AL/WHITE
                    ul.add-review.border
                        li
                            span.product-status.instock В наличии 
                        li
                            .rating-stars.reviews-list__stars
                                input(type="radio" name="radio1" id="a1" class="radio1" checked)
                                input(type="radio" name="radio1" id="a2" class="radio2" checked)
                                input(type="radio" name="radio1" id="a3" class="radio3")
                                input(type="radio" name="radio1" id="a4" class="radio4")
                                input(type="radio" name="radio1" id="a5" class="radio5")
                                label(for="a1").label1
                                label(for="a2").label2
                                label(for="a3").label3
                                label(for="a4").label4
                                label(for="a5").label5
                        li
                            button.add-review__btn Оставить отзыв

                    .product-option.border
                        .product-option__title Доступные опции
                        .product-option__type Цвет

                        .check-color
                            span.check-color__item.is-active
                                img(src="img/grey-color.png")
                            span.check-color__item
                                img(src="img/brown-color.png")
                            span.check-color__item
                                img(src="img/orange-color.png")
                            span.check-color__item
                                img(src="img/blue-color.png")

                        .product-option__type Размер

                        ul.product-option__size
                            li.is-active 38mm  (+10 000.00 р.)
                            li 42mm  (+12 000.00 р.)
                    .action-block.border
                        ul.product-payment
                            li
                                .product-payment__price 30 139 ₽
                            li
                                .switch-number(text-align__center)
                                    span.switch-button.switch-button_minus -
                                    input(type="text" value="1" disabled="disabled").quantity#quantity 
                                    span.switch-button.switch-button_plus +

                        ul.product-action
                            li
                                button.btn-light.add-basket В корзину
                            li
                                button.btn-dark.buy-click Вупить в один клик
                            li
                                .favor

                    ul.product-info
                        li
                            span Производитель: 
                                a(href="#") Apple
                        li
                            span Код товара: 
                            |art752816
                        li
                            span Артикул: 
                            |752816

                    ul.product-adv
                        li
                            .product-adv__img
                                img(src="img/icon-1.svg")
                            a(href="#") Качество
                        li
                            .product-adv__img
                                img(src="img/icon-2.svg")
                            a(href="#") Доставка
                        li
                            .product-adv__img
                                img(src="img/icon-3.svg")
                            a(href="#") Оплата
                        li
                            .product-adv__img
                                img(src="img/icon-4.svg")
                            a(href="#") Обмен

            .tab-block
                .tabs-link
                    a(href="#").is-active Обмен
                    a(href="#") Характеристики
                    a(href="#") Отзывы
                    a(href="#") Отзывы
                    a(href="#") Отзывы
                    a(href="#") Отзывы

                .main-text
                    p Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности пользователя. Он может просматривать важнейшие новости, отвечать на сообщения, пользоваться приложениями, а также подавать команды голосовому помощнику Siri, не доставая iPhone из кармана.

                    p.text__title Спортивные функции

                    p Теперь Apple Watch снабжены встроенным GPS-трекером, который отслеживает каждый метр, пройдённый человеком. Датчик сердечной активности не только ведёт мониторинг здоровья человека, но и помогает рассчитывать такие важные для спортсменов показатели, как период восстановления организма после нагрузок и скорость насыщения крови кислородом.

                    p.text__title Интелектуальные подсказки

                    p Фирменное спортивное приложение анализирует повседневную активность человека и разрабатывает на основе этих сведений рекомендации для последующих тренировок. Оно также позволяет следить за выполнением целей, зарабатывать различные награды и делиться достижениями с друзьями.

                    p.text__title Стиль и элегантность

                    p Металлический корпус с плавными обводами и оригинальной окраской – это лишь одна из составляющих успеха гаджета от Apple. Для устройства предлагается очень широкий выбор ремешков – от простых спортивных аксессуаров до настоящих шедевров, изготовленных из кожи ручной выделки.
