.registration
	.container
		.breadcrumbs
			ul.breadcrumbs-list
				li
					a(href="/").breadcrumbs-link.breadcrumbs-link_home Домой
				li.breadcrumbs-item
					a Регистрация

		h1.main-title.registration-title Регистрация
		.my-authorized
			p Я уже зарегестрирован
			a(href="#").btn-light Авторизоваться
		form.registration-form
			fieldset.form-block
				<legend><span class="list">1</span> Основные данные</legend>
					.column-inner
						.form-cell
							label.required(for="firstname") Имя 	
							input(type="text" placeholder="Имя" id="firstname" required).inputForGlobal
						
						.form-cell
							label.required(for="secondname") Фамилия 	
							input(type="text" placeholder="Фамилия" id="secondname" required).inputForGlobal
						
						.form-cell
							label.required(for="email") E-Mail 
							input(type="email" placeholder="E-Mail" id="email" required).inputForGlobal

						.form-cell
							label.required(for="phonenumber") Телефон 
							input(type="text" placeholder="Телефон" id="phonenumber" required).inputForGlobal

						.form-cell
							label(for="fax") Факс 
							input(type="text" placeholder="Факс" id="fax").inputForGlobal

			fieldset.form-block
				<legend><span class="list">2</span> Ваш адрес</legend>
					
					.column-inner
						.form-cell
							label.required(for="country") Страна 

							.my-select.my-select_registration
								select(id="country" required).js-example-basic-single
									option(value="Россия") Россия
									option(value="США") США
									option(value="Германия") Германия
						.form-cell
							label.required(for="region") Регион / Область 

							.my-select.my-select_registration
								select(id="region" required).js-example-basic-single
									option(value="Свердловская") Свердловская обл.
									option(value="Амурская") Амурская обл.
									option(value="Владимирская") Владимирская обл.

						.form-cell
							label.required(for="city") Город 
							input(type="text" placeholder="Город" id="city" required).inputForGlobal

						.form-cell
							label(for="index") Индекс	
							input(type="text" placeholder="Индекс" id="index").inputForGlobal

					.column-inner-box
						.form-cell
							label(for="company") Компания	
							input(type="text" placeholder="Компания" id="company").inputForGlobal
						
						.form-cell
							label.required(for="adress") Адрес 
							input(type="text" placeholder="Адрес" id="adress" required).inputForGlobal

						.form-cell
							label(for="adress2") Адрес2 
							input(type="text" placeholder="Адрес2" id="adress2").inputForGlobal

			fieldset.form-block
				<legend><span class="list">3</span> Пароль</legend>
				.column-inner
					.form-cell
						label.required(for="password") Пароль 
						input(type="password" placeholder="Пароль" id="password" required).inputForGlobal

					.form-cell
						label.required(for="password2") Подтверждение пароля 
						input(type="password" placeholder="Подтверждение пароля" id="password2" required).inputForGlobal

			.subscription-outer
				fieldset.form-block
					legend Подписка на новости
					.subscripion-select-box
						.subscription-select
							input(type="radio" id="yes" name="radio" checked)
							label(for="yes") Да
						.subscription-select
							input(type="radio" id="no" name="radio")
							label(for="no") Нет

				.my-subscription
					input(type="checkbox" checked="checked" id="rule")
					label(for="rule") Я прочитал <a href="#">Политика Безопасности</a> и согласен с условиями

				button(type="submit").btn-light Зарегестрироваться