.container
    .main-slider.swiper-container
        .swiper-wrapper
            .swiper-slide(style="background-image:url(img/man.jpg)")
                .main-slider__content
                    p Очки HTC VR <br>со скидкой 30%  
                    button.btn-yellow.slider-btn Перейти в каталог
            .swiper-slide(style="background-image:url(img/slide.png)")
                .main-slider__content
                    p Тестовый товар 
                    button.btn-yellow.slider-btn Перейти в каталог
            .swiper-slide(style="background-image:url(img/man.jpg)")
                .main-slider__content
                    p Тестовый товар 2  
                    button.btn-yellow.slider-btn Перейти в каталог
            .swiper-slide(style="background-image:url(img/slide.png)")
                .main-slider__content
                    p Тестовый товар  3 
                    button.btn-yellow.slider-btn Перейти в каталог

        .slider-navigate
            .swiper-button-prev
            .swiper-pagination        
            .swiper-button-next

    .steps-shipping
        h1.main-title Шоппинг напрямую в популярных<br> интернет-магазинах мира!
        p.steps-shipping__article Большинство зарубежных магазинов не доставляют в Россию          
        p.steps-shipping__title Выбирайте товары из США, Китая, Европы и других стран,<br> а мы доставим Ваш товар!

        .steps-list
            ul
                li
                    .step-img
                        img(src="img/step-1.svg")
                    .steps-list__title Выберите товар
                    p Оплачивайте товар из нашего 
                        a(href="#") каталога
                        |, где указаны реальные цены и ссылки на официальный магазин
                li
                    .step-img
                        img(src="img/step-2.svg")
                    .steps-list__title Оформите доставку
                    p Магазины отправляют товар на наши склады зарубежом. А мы доставляем товар вам в руки!
                li
                    .step-img
                        img(src="img/step-3.svg")
                    .steps-list__title Получите ваш товар
                    p Посылка придет уже через 7-10 дней! Заберите в пункте выдачи или курьером

    .popular-cat
        h2.main-title.popular-cat__title Популярные категории
        .popular-list
            a(href="#").popular-list__item.popular-list__item_blue
                .popular-list__img
                    img(src="img/cat-1.png" alt="Бытовая техника и электорника")
                .popular-list__title Бытовая техника <br>и электроника

            a(href="#").popular-list__item.popular-list__item_red
                .popular-list__img
                    img(src="img/cat-2.png" alt="Одежда и обувь")
                .popular-list__title Одежда <br>и обувь 

            a(href="#").popular-list__item.popular-list__item_green
                .popular-list__img
                    img(src="img/cat-3.png" alt="Косметика и гигиена")
                .popular-list__title Косметика <br>и гигиена

            a(href="#").popular-list__item.popular-list__item_red
                .popular-list__img
                    img(src="img/cat-4.png" alt="Музыкальные иснтрументы")
                .popular-list__title Музыкальные <br>иснтрументы

            a(href="#").popular-list__item.popular-list__item_grey
                .popular-list__img
                    img(src="img/cat-5.png" alt="Спорт и активный отдых")
                .popular-list__title Спорт и активный <br>отдых

            a(href="#").popular-list__item.popular-list__item_light
                .popular-list__img
                    img(src="img/cat-6.png" alt="Бытовая химия")
                .popular-list__title Бытовая <br>химия

            a(href="#").popular-list__item.popular-list__item_purple
                .popular-list__img
                    img(src="img/cat-7.png" alt="Товары для дома")
                .popular-list__title Товары <br>для дома

            a(href="#").popular-list__item.popular-list__item_orange
                .popular-list__img
                    img(src="img/cat-8.png" alt="Детские товары и игрушки")
                .popular-list__title Детские товары <br>и игрушки

            a(href="#").popular-list__item.popular-list__item_purple
                .popular-list__img
                    img(src="img/cat-9.png" alt="Украшения и аксессуары")
                .popular-list__title Украшения <br>и аксессуары   

    .popular-product
        h2.main-title Популярные товары
        p.popular-product__article Сравните цены в России и в зарубежных магазинах
        ul.popular-product__list
            li
                .product-box.test
                    a(href="#").product-box__img
                        img(src="img/pop-1.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Игровая приставка <br>Microsoft Xbox One X <br>Белый
                    .product-box__hidden
                        .product-box__add-basket
                            button.btn-light В корзину
                            .favor
                        p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-2.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Игра для PlayStation 4 <br>FIFA 19
                    .product-box__hidden
                        .product-box__add-basket
                            button.btn-light В корзину
                            .favor
                        p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
            li    
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-3.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Геймпад Microsoft Xbox<br> One Controller черный
                    .product-box__hidden
                        .product-box__add-basket
                            button.btn-light В корзину
                            .favor
                        p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-4.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Геймпад Sony<br> DualShock 4 v2<br> (CUH-ZCT2E)<br> Антрацитовый черный
                    .product-box__hidden
                        .product-box__add-basket
                            button.btn-light В корзину
                            .favor
                        p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-1.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Игровая приставка <br>Microsoft Xbox One X <br>Белый
                    .product-box__hidden
                        .product-box__add-basket
                            button.btn-light В корзину
                            .favor
                        p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-2.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Игра для PlayStation 4 <br>FIFA 19
                    .product-box__hidden
                        .product-box__add-basket
                            button.btn-light В корзину
                            .favor
                        p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-3.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Геймпад Microsoft Xbox<br> One Controller черный
                    .product-box__hidden
                        .product-box__add-basket
                            button.btn-light В корзину
                            .favor
                        p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..
            li
                .product-box
                    a(href="#").product-box__img
                        img(src="img/pop-4.jpg")
                    .product-box__price 30 139 ₽
                    a(href="#").product-box__article Геймпад Sony<br> DualShock 4 v2<br> (CUH-ZCT2E)<br> Антрацитовый черный
                    .product-box__hidden
                        .product-box__add-basket
                            button.btn-light В корзину
                            .favor
                        p.product-box__more Apple Watch Series 2 – это многофункциональное устройство, которое значительно расширяет возможности..

    .brends-slider-wrap
        h2.main-title Любимые бренды без наценок
        .brends-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .brends-slider__img
                        img(src="img/brend-1.jpg" alt="ebay" width="116" height="47")
                .swiper-slide
                    .brends-slider__img
                        img(src="img/brend-2.jpg" alt="sephora" width="115" height="97")
                .swiper-slide
                    .brends-slider__img
                        img(src="img/brend-3.jpg" alt="timberland" width="87" height="98")
                .swiper-slide
                    .brends-slider__img
                        img(src="img/brend-4.jpg" alt="tommy hellfiger" width="88" height="65")
                .swiper-slide
                    .brends-slider__img
                        img(src="img/brend-5.jpg" alt="lacoste" width="100" height="48")
                .swiper-slide
                    .brends-slider__img
                        img(src="img/brend-6.jpg" alt="nike" width="97" height="97")

            .slider-navigate
                .swiper-button-prev
                .swiper-pagination        
                .swiper-button-next

    .reviews-block
        h2.main-title Каждый день мы доставляем<br> более 1000 товаров
        p.reviews__article Последние отзывы
        ul.reviews-list
            li
                .reviews-list__img
                    img(src="img/pop-1.jpg")
                p.reviews-list__title Игровая приставка Microsoft Xbox One X Белый
                .current-rating
                    .current-rating__item.active
                    .current-rating__item.active
                    .current-rating__item.active
                    .current-rating__item
                    .current-rating__item
                            
                p.reviews-list__article Стабильная работа в качестве наушников и гарнитуры, оч. хороший штекер, который не выскакивает почем зря из нужного разъема на смартфоне или плеере   
            li
                .reviews-list__img
                    img(src="img/pop-1.jpg")
                p.reviews-list__title Игровая приставка Microsoft Xbox One X Белый
                .current-rating
                    .current-rating__item.active
                    .current-rating__item.active
                    .current-rating__item.active
                    .current-rating__item
                    .current-rating__item
                p.reviews-list__article Стабильная работа в качестве наушников и гарнитуры, оч. хороший штекер, который не выскакивает почем зря из нужного разъема на смартфоне или плеере 
            li
                .reviews-list__img
                    img(src="img/pop-1.jpg")
                p.reviews-list__title Игровая приставка Microsoft Xbox One X Белый
                .current-rating
                    .current-rating__item.active
                    .current-rating__item.active
                    .current-rating__item.active
                    .current-rating__item
                    .current-rating__item
                p.reviews-list__article Стабильная работа в качестве наушников и гарнитуры, оч. хороший штекер, который не выскакивает почем зря из нужного разъема на смартфоне или плеере 
            li
                .reviews-list__img
                    img(src="img/pop-1.jpg")
                p.reviews-list__title Игровая приставка Microsoft Xbox One X Белый
                .current-rating
                    .current-rating__item.active
                    .current-rating__item.active
                    .current-rating__item
                    .current-rating__item
                    .current-rating__item    
                p.reviews-list__article Стабильная работа в качестве наушников и гарнитуры, оч. хороший штекер, который не выскакивает почем зря из нужного разъема на смартфоне или плеере 
    
    .social-block
        .social-block__item
            p.social-block__title.social-block__title_blue Читайте отзывы и задавайте<br> вопросы в социальных сетях
            ul.social-link
                li
                    a(href="#")
                        img(src="img/vk.png" alt="vkontakte" width="47" height="47") 
                li
                    a(href="#")
                        img(src="img/inst.png" alt="instagram" width="47" height="47")
                            
        .social-block__item
            p.social-block__title Подпишитесь на наши <br>новости
            form.search.social-block__search(action="#")
                input(type="text" placeholder="Ваш e-mail")
                button(type="submit").btn-dark Подписаться
    
    ul.advantages
        li
            .advantages__img
                img(src='img/adv-1.svg' alt="служба поддержки")
            p.advantages__title Служба поддержки
            p.advantages__article Бесплатные <br>консультации по телефону
        li
            .advantages__img
                img(src='img/adv-2.svg' alt="100% гарантия на товар")
            p.advantages__title 100% гарантия на товар
            p.advantages__article Пожизненная гарантия на <br>товары магазина
        li
            .advantages__img
                img(src='img/adv-3.svg' alt="бесплатная доставка")
            p.advantages__title Бесплатная доставка
            p.advantages__article На сумму заказа от 10 000 ₽
        li
            .advantages__img
                img(src='img/adv-4.svg' alt="выгодные условия")
            p.advantages__title Выгодные условия
            p.advantages__article Предлагаем <br>сотрудничество
            
        
        




//- .rating-stars.reviews-list__stars
//-     input(type="radio" name="radio1" id="a1" class="radio1" checked)
//-     input(type="radio" name="radio1" id="a2" class="radio2" checked)
//-     input(type="radio" name="radio1" id="a3" class="radio3")
//-     input(type="radio" name="radio1" id="a4" class="radio4")
//-     input(type="radio" name="radio1" id="a5" class="radio5")
//-     label(for="a1").label1
//-     label(for="a2").label2
//-     label(for="a3").label3
//-     label(for="a4").label4
//-     label(for="a5").label5
