.brends
	.container
		ul.breadcrumbs-list
				li
					a(href="/").breadcrumbs-link.breadcrumbs-link_home Домой 
	
				li
					a Магазины

		h1.main-title Любимые бренды

		.brends-content
			.tab
				ul
					li
						a(href="#tab1").active Одежда и обувь

					li
						a(href="#tab2") Активный образ жизни

					li
						a(href="#tab3") Товары для детей

					li
						a(href="#tab4") Спорт

					li
						a(href="#tab5") Электроника и фототехника

					li
						a(href="#tab6") Музыкальные инструменты

					li
						a(href="#tab7") Косметика

					li
						a(href="#tab8") Товары для дома
			
			#tab1.text-align__center.tab__box
				.tab-column
					span.img
						img(src="img/brend-3.jpg" alt="Timberland" width="87" height="98")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-4.jpg" alt="Tommy" width="88" height="65")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-5.jpg" alt="Lacoste" width="100" height="48")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-1.jpg" alt="Ebay" width="116" height="47")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-2.jpg" alt="Sephora" width="115" height="97")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-6.jpg" alt="Nike" width="97" height="97")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-1.jpg" alt="Ebay" width="116" height="47")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-2.jpg" alt="Sephora" width="115" height="97")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-6.jpg" alt="Nike" width="97" height="97")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой
			
			#tab2.text-align__center.tab__box
				.tab-column
					span.img
						img(src="img/brend-3.jpg" alt="Timberland" width="87" height="98")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-4.jpg" alt="Tommy" width="88" height="65")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-5.jpg" alt="Lacoste" width="100" height="48")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой
			
			#tab3.text-align__center.tab__box
				.tab-column
					span.img
						img(src="img/brend-3.jpg" alt="Timberland" width="87" height="98")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-4.jpg" alt="Tommy" width="88" height="65")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-5.jpg" alt="Lacoste" width="100" height="48")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

			#tab4.text-align__center.tab__box
				.tab-column
					span.img
						img(src="img/brend-3.jpg" alt="Timberland" width="87" height="98")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-4.jpg" alt="Tommy" width="88" height="65")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-5.jpg" alt="Lacoste" width="100" height="48")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

			#tab5.text-align__center.tab__box
				.tab-column
					span.img
						img(src="img/brend-3.jpg" alt="Timberland" width="87" height="98")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-4.jpg" alt="Tommy" width="88" height="65")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-5.jpg" alt="Lacoste" width="100" height="48")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой
			
			#tab6.text-align__center.tab__box
				.tab-column
					span.img
						img(src="img/brend-3.jpg" alt="Timberland" width="87" height="98")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-4.jpg" alt="Tommy" width="88" height="65")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-5.jpg" alt="Lacoste" width="100" height="48")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой
			
			#tab7.text-align__center.tab__box
				.tab-column
					span.img
						img(src="img/brend-3.jpg" alt="Timberland" width="87" height="98")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-4.jpg" alt="Tommy" width="88" height="65")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-5.jpg" alt="Lacoste" width="100" height="48")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой
					
			#tab8.text-align__center.tab__box
				.tab-column
					span.img
						img(src="img/brend-3.jpg" alt="Timberland" width="87" height="98")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-4.jpg" alt="Tommy" width="88" height="65")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой

				.tab-column
					span.img
						img(src="img/brend-5.jpg" alt="Lacoste" width="100" height="48")
					p Самый большой интернет-гипермаркет, в котором есть все: от одежды и обуви до игрушек, электроники, товаров для дома и косметики
					a(href="#") Как покупать 
					a(href="#") Помощь с покупкой