.catalog
    .container
        .breadcrumbs
            ul.breadcrumbs-list
                li
                    a(href="/").breadcrumbs-link.breadcrumbs-link_home
                li
                    a(href="#").breadcrumbs-link Apple
                li
                    a(href="#").breadcrumbs-link Apple Watch
        
        h1.main-title Товары Apple
        .catalog__inner
            .sidebar
                form(action="#")
                    .sidebar__price.shadow-block
                        .sidebar__title Цена
                        .price-inp
                            input(type="text" disabled).inputForGlobal.price-inp__left
                            input(type="text" disabled).inputForGlobal.price-inp__right
                        
                        .custom-range.price-range
                        
                    .sidebar__discount.shadow-block
                        .my-subscription
                            input(type="checkbox")#discountCheck
                            label(for="discountCheck") Товары со скидкой
                        .sidebar__count 244
                    
                    .sidebar__color.shadow-block
                        .sidebar__title Цвет
                        ul.color-pick
                            li
                                .my-subscription
                                    input(type="checkbox" name="color-brown")#brownCheck
                                    label(for="brownCheck") Коричневый
                                        .color-pick__img
                                            img(src="img/brown-color.png")
                                .sidebar__count 2
                            
                            li
                                .my-subscription
                                    input(type="checkbox" name="color-pink")#pinkCheck
                                    label(for="pinkCheck") Розовый
                                        .color-pick__img
                                            img(src="img/color-pink.png")
                                .sidebar__count 3
                                            
                            li
                                .my-subscription
                                    input(type="checkbox" name="color-grey")#greyCheck
                                    label(for="greyCheck") Серый
                                        .color-pick__img
                                            img(src="img/grey-color.png")
                                .sidebar__count 4
                                            
                            li
                                .my-subscription
                                    input(type="checkbox" name="color-red")#redCheck
                                    label(for="redCheck") Красный
                                        .color-pick__img
                                            img(src="img/red-color.png")
                                .sidebar__count 7
                    
                    .sidebar__size.shadow-block
                        .sidebar__title Размер
                        .sidebar__item
                            .my-subscription
                                input(type="checkbox")#sizeCheck
                                label(for="sizeCheck") 38mm
                            .sidebar__count 2
                            
                    .sidebar__size.shadow-block
                        .sidebar__title Марка
                        .my-select
                            select.js-example-basic-single
                                option Apple
                                option Samsung
                                option Nokia
                                
                    .sidebar__state.shadow-block
                        .sidebar__title Состояние
                        ul.state-list
                            li
                                .subscription-select
                                    input(type="radio" name="state")#stateNew
                                    label(for="stateNew") Новое
                                .sidebar__count 2
                            li
                                .subscription-select
                                    input(type="radio" name="state")#stateold
                                    label(for="stateold") Восстановленное
                                .sidebar__count 2
                        
                                
                        
            .catalog__content    
