.container
    .footer__cont
        .footer__item
            .footer__title Информация
            ul.footer__list
                li
                    a(href="#") Кратко о доставке
                li
                    a(href="#") Кратко об оплате
                li
                    a(href="#") О магазине
                li
                    a(href="#") Доставка
                li
                    a(href="#") Оплата
                li
                    a(href="#") Связаться с нами
                li
                    a(href="#") Возврат товара
                li
                    a(href="#") Производители
                li
                    a(href="#") Товары со скидкой

        .footer__item
            .footer__title Категории
            ul.footer__list
                li
                    a(href="#") Бытовая техника и электороника
                li
                    a(href="#") Одежда и обувь
                li
                    a(href="#") Музыкальные инструменты
                li
                    a(href="#") Доставка
                li
                    a(href="#") Оплата
                li
                    a(href="#") Связаться с нами
                li
                    a(href="#") Возврат товара
                li
                    a(href="#") Производители
                li
                    a(href="#") Товары со скидкой

        .footer__item
            .footer__title Личный кабинет
            ul.footer__list
                li
                    a(href="#") Личный кабинет
                li
                    a(href="#") История заказов
                li
                    a(href="#") Мои закладки
                li
                    a(href="#") Рассылка новостей

        .footer__item
            .footer__title Контакты
            .footer__adress.footer__contact Россия, г. Москва. Большая Пироговская <br>ул. 17, 3 этаж, офис 315

            ul.footer__phone.footer__contact
                li
                    a(href="tel:80507531020") 8(050) 753-10-20
                li
                    a(href="tel:89117531020") 8(911) 753-10-20

            .footer__email.footer__contact
                a(href="mailto:techstore@octemplates.net") techstore@octemplates.net

            .footer__skype.footer__contact tech-store@octemplates

            ul.footer__work-time.footer__contact
                li ПН-ПТ: 09:00 - 18:00
                li СБ: 10:00 - 16:00
                li ВС: 10:00 - 14:00
                
            .messenger-img
                img(src="img/messengers.png")
                
    .copyright © Tech Store - интернет магазин на Opencart





//- 
//- include ./footer-modals.pug
script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js")
script(src="libs/wow/wow.js")
script(src="libs/maskedinput/jquery.maskedinput.min.js")
script(defer src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js")
script(src="libs/owl.carusel-2.3.4/owl.carousel.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
script(src="js/common.js")
