.header-top
    .container.header-top__cont
        .burger
        nav.main-nav.nav
            ul
                li
                    a(href="#") О магазине
                li
                    a(href="#") Доставка
                li
                    a(href="#") Оплата
                li
                    a(href="#") Условия соглашения
                li
                    a(href="#") Новости
                li
                    a(href="#") Контакты
            ul.md-hidden
                li
                    a(href="#") Как это работает?
                li
                    a(href="#") Цены
                li
                    a(href="#") Магазины
                li
                    a(href="#") Помощь
                li
                    a(href="#") Скидки и акции
                li
                    a(href="#") Информация
                li
                    a(href="#") Отзывы о нас  
        .login
            a(href="#").login__enter Вход
            a(href="#").login__reg Регистрация

.header-bottom
    .container
        .header-bottom__cont
            .header-bottom__item.header-bottom__item_top
                .logo
                    .logo__img
                        img(src="img/logo.svg")
                            
                    ul.logo__article
                        li Seendy.ru
                        li Доставка зарубежных товаров
                
                .header-bottom__item.header-bottom__item_middle.md-hidden
                    ul.header-list
                        li
                            a(href="tel:88009800000").header-phone 8 800 980 00 00
                        li
                            a(href="#").header-link Перезвоните мне
                    
                    ul.header-list.header-list_basket
                        li
                            a(href="#").header-basket Корзина пуста
                        li
                            a(href="#").header-link Перейти в каталог
                                    
                form.search.header_search(action="#")
                    input(type="text" placeholder="Поиск по сайту")
                    button(type="submit").btn-dark Найти
            
            .header-bottom__item.header-bottom__item_middle.mob-hidden
                ul.header-list
                    li
                        a(href="tel:88009800000").header-phone 8 800 980 00 00
                    li
                        a(href="#").header-link Перезвоните мне
                
                ul.header-list.header-list_basket
                    li
                        a(href="#").header-basket Корзина пуста
                    li
                        a(href="#").header-link Перейти в каталог
        
        .header-navigate
            .cat-btn.btn-dark.hidden-catalog
                span Каталог товаров
                ul.cat-btn__list
                    li
                        a(href="#") Каталог товаров 1
                    li
                        a(href="#") Каталог товаров товаров 2
                    li
                        a(href="#") Каталог 3
                    li
                        a(href="#") Каталог 4
                    li
                        a(href="#") Каталог 5
                    li
                        a(href="#") Каталог 6
                    li
                        a(href="#") Каталог 7
                    li
                        a(href="#") Каталог 8
            
            ul.header-navigate__link.mob-hidden
                li
                    a(href="#") Как это работает?
                li
                    a(href="#") Цены
                li
                    a(href="#") Магазины
                li
                    a(href="#") Помощь
                li
                    a(href="#") Скидки и акции
                li
                    a(href="#") Информация
                li
                    a(href="#") Отзывы о нас                    
                                
                                
                            
    
    
