link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")
link(rel="stylesheet" href="libs/animate/animate.css")
link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet")
link(rel="stylesheet" href="libs/owl.carusel-2.3.4/css/owl.carousel.min.css")    
//- link(rel="stylesheet" href="css/main.css")
link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Ubuntu:300,400,500,700&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet")
link(href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet")
<link rel="stylesheet" href="css/main.min.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="css/main.min.css"></noscript>
