extends ../layout/layout.pug
block vars
	- var title = 'Калькулятор доставки';
block header
	include ../includes/header.pug
block content
	include ../includes/content-delivery.pug
block footer
	include ../includes/footer.pug     
              
