extends ../layout/layout.pug
block vars
	- var title = 'Как это работает?';
block header
	include ../includes/header.pug
block content
	include ../includes/content-process.pug
block footer
	include ../includes/footer.pug    