extends ../layout/layout.pug
block vars
	- var title = 'Регистрация'
block header
	include ../includes/header.pug
block content
	include ../includes/content-registration.pug
block footer
	include ../includes/footer.pug 