extends ../layout/layout.pug
block vars
	- var title = 'Заказ успешно оформлен'
block header
	include ../includes/header.pug
block content
	include ../includes/content-success.pug
block footer
	include ../includes/footer.pug     