.breadcrumbs-list {
	margin-top: 32px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;

	font-family: 'Roboto';
	font-size: 10px;
	line-height: 12px;
}

.breadcrumbs-list li {
	display: flex;
	align-items: center;
	padding: 5px 0;

	&::after {
		content: "/";
		
		display: inline-block;
		color: #E6E6E6;

		margin-right: 6px;
		padding-left: 6px;
	}

	&:last-child {
		&::after {
			display: none;
		}

		a {
			color: #9E9E9E;
		}
	}
}

.breadcrumbs-item a {
	color: #0D47A1;
	margin-right: 8px;
}

.breadcrumbs-link_home {
	font-size: 0;

	background-image: url("../img/home.svg");

	width: 19px;
	height: 16px;
}

/* Как это работает - process.html
=========================================== */
.process {
	padding-bottom: 20px;

	@media (min-width : 768px) {
		padding-bottom: 132px;
	}
}

.process .breadcrumbs {
	margin-bottom: 33px;
}

.process .process-title {
	margin-bottom: 47px;
}

.process-description {
	max-width: 564px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;

	font-size: 16px;
	line-height: 21px;
	text-align: center;
	color: #525252;

	@media (min-width : 1280px) {
		font-size: 18px;
		
		margin-bottom: 44px;
	}
}

.process-item {
	max-width: 1147px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 28px;
	padding: 20px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	box-shadow: 0px 6px 19px rgba(0, 0, 0, 0.141308);
	border-radius: 17px;

	@media (min-width : 768px) {
		flex-direction: row;

		padding: 52px 81px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&::after {
		content: "";

		display: block;
		order: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		width: 150px;
		height: 150px;
	}

	&__adress {
		&::after {
			background-image: url("../img/mess-step-1.png");
			
			@media (min-width : 768px) {
				width: 194px;
				height: 205px;
				margin-right: 25px;
			}

			@media (min-width : 1200px) {
				margin-left: 25px;
			}
		}
	}

	&__shop {
		&::after {
			background-image: url("../img/mess-step-2.png");

			margin-top: 15px;

			@media (min-width : 768px) {
				width: 207px;
				height: 207px;
				margin-left: 25px;
				margin-top: auto;
			}

			@media (min-width : 1200px) {
				margin-right: 25px;
			}
		}
	}

	&__logistic {
		&::after {
			background-image: url("../img/mess-step-3.png");
			
			@media (min-width : 768px) {
				margin-right: 25px;
				width: 205px;
				height: 205px;
			}

			@media (min-width : 1200px) {
				margin-left: 25px;	
			}
		}
	}

	&__pay {
		&::after {
			background-image: url("../img/mess-step-4.png");

			margin-top: 15px;

			@media (min-width : 768px) {
				margin-left: 25px;
				width: 205px;
				height: 205px;
				margin-top: auto;
			}

			@media (min-width : 1200px) {
				margin-right: 25px;	
			}
		}	
	}

	&__bring {
		&::after {
			background-image: url("../img/mess-step-5.png");

			@media (min-width : 768px) {
				width: 248px;
				height: 201px;
				margin-right: 25px;
			}

			@media (min-width : 1200px) {
				margin-left: 25px;
			}
		}
	}
}

.process-item__adress .process-inner {
	order: 1;

	margin-top: 15px;

	@media (min-width : 768px) {
		margin-top: auto;
	}
}

.process-item__logistic .process-inner {
	order: 1;

	margin-top: 15px;

	@media (min-width : 768px) {
		margin-top: auto;
	}
}

.process-item__bring .process-inner {
	order: 1;

	margin-top: 15px;

	@media (min-width : 768px) {
		margin-top: auto;
	}
}

.process-inner {
	order: 0;
}

.process-item h2 {
	font-weight: bold;
	font-size: 38px;
	line-height: 44px;
	color: #2962FF;

	margin-bottom: 19px;

	@media (min-width : 768px) {
		font-size: 42px;
		line-height: 48px;
	}
}

.process-item h3 {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #0D47A1;

	margin-bottom: 19px;

	@media (min-width : 768px) {
		font-size: 24px;
		line-height: 28px;
	}
}

@media (max-width : 768px) {
	.process-item h3 {
		br{display: none;}
	}
}

.process-item p {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 19px;
	color: #525252;

	max-width: 578px;
	width: 100%;
}

/* Success
====================================== */
.success {
	padding-bottom: 20px;

	@media (min-width : 768px) {
		padding-bottom: 100px;
	}
}

.success .breadcrumbs {
	margin-bottom: 31px;
}

.success-block {
	max-width: 640px;
	margin: 0 auto;

	text-align: center;
}

.success-block h1 {
	font-weight: bold;
	font-size: 38px;
	line-height: 44px;
	color: #0D47A1;
	
	margin-top: 14px;
	margin-bottom: 31px;

	@media (min-width : 768px) {
		font-size: 43px;
		line-height: 49px;
	}
}

.success-block p {
	margin-bottom: 20px;

	font-size: 18px;
	line-height: 21px;
	color: #525252;

	&:last-of-type{
		margin-bottom: 0;
	}
}

.success-block .bold {
	font-weight: bold;
}

.success-block-btn {
	margin: 0 auto;
	margin-top: 45px;
	width: 176px;
	height: 52px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 7px;
}

/* Registration
========================================== */
.registration {
	padding-bottom: 140px;
}

.registration .breadcrumbs-list {
	margin-bottom: 33px;
}

.registration .registration-title {
	margin-bottom: 31px;
}

.registration-form {
	@media (min-width : 992px) {
		width: 945px;
		margin: 0 auto;
	}

	@media (min-width : 1165px) {
		width: auto;
		margin: 0;
	}
}

.registration .my-authorized {
	margin-bottom: 56px;


}

.my-authorized {
	background: #F5F5F5;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-width: 565px;
	width: 100%;
	margin: 0 auto;
	padding: 18px 22px 25px;

	@media (min-width : 1165px) {
		margin-right: 0;
		margin-left: 0;

		display: block;
	}

	p {
		font-size: 18px;
		color: #525252;

		margin-bottom: 15px;
	}

	a {
		max-width: 274px;
		width: 100%;
		height: 52px;

		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 7px;
	}
}

.registration button[type="submit"] {
	max-width: 274px;
	margin: 0 auto;
	width: 100%;
	height: 52px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 7px;

	@media (min-width : 992px) {
		margin: 0;
	}
}

.form-block {
	border: none;

	margin: 0;
	padding: 0;
	margin-bottom: 56px;
}

.form-block legend {
	padding: 0;
	margin-bottom: 32px;

	display: flex;
	align-items: center;
	text-align: center;

	@media (min-width : 768px) {
		text-align: left;
	}

	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #0D47A1;
}

.form-block .list {
	width: 50px;
	height: 50px;
	margin-right: 19px;

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2962FF;
	border-radius: 50%;

	font-weight: bold;
	font-size: 25px;
	color: #FFFFFF;
}

.column-inner {
	display: flex;
	flex-direction: column;
	
	align-items: center;

	margin-bottom: -16px;

	@media (min-width : 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		width: 600px;
		margin: 0 auto;
	}

	@media (min-width : 992px) {
		width: auto;
		justify-content: flex-start;
	}
}

.registration .column-inner {
	@media (min-width : 992px) {
		margin-left: -29px;
	}

	@media (min-width : 1167px) {
		margin-left: -17px;
	}
}

.form-cell {
	display: flex;
	flex-direction: column;
}

.registration .form-cell {

	@media (min-width : 992px) {
		margin-left: 29px;
	}

	@media (min-width : 1167px) {
		margin-left: 17px;
	}
}

.inputForGlobal{
	height: 52px;

	background: #FFFFFF;
	border: 1px solid #AEAEAE;
	box-sizing: border-box;
	border-radius: 6px;

	font-size: 16px;
	line-height: 18px;
	color: #757575;
}

.registration .inputForGlobal {
	margin-bottom: 16px;

	@media (min-width : 576px) {
		width: 300px;
	}

	@media (min-width : 768px) {
		width: 295px;
	}

	@media (min-width : 1167px) {
		width: 371px;
	}
}

.form-cell  input::placeholder {
	color: #BDBDBD;
}

input[type="text"].inputForGlobal, 
input[type="email"].inputForGlobal,
input[type="password"].inputForGlobal {
	padding: 0 17px;
}

.my-select .select2-selection,
.my-select .select2 {
	height: 52px;
}

.my-select_registration .select2-selection,
.my-select_registration .select2 {
	width: 249px;

	@media (min-width : 576px) {
		width: 300px;
	}

	@media (min-width : 768px) {
		width: 295px;
	}

	@media (min-width : 1167px) {
		width: 371px;
	}
}

.my-select_registration {
	margin-bottom: 16px;
}

.my-select {
	.select2-selection__rendered,
	.select2 {
		width: 100% !important;
	}

	.select2-selection__rendered {
		font-size: 16px;
		color: #2C2C2C !important;

		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.select2-selection__arrow{

		top: 50% !important;
		right: 22px !important;
		transform: translateY(-50%);
	}

	.select2-selection {
		background-color: #FFFFFF;
		border: 1px solid #AEAEAE;
		box-sizing: border-box;
		border-radius: 6px;
		padding-left: 17px;

		display: flex;
		align-items: center;
	}
}

.form-cell .required {
	&::after {
		content: "*";

		color: tomato;
	}
}

.form-cell label {
	font-size: 14px;
	line-height: 16px;
	color: #757575;

	margin-bottom: 10px;
}

.column-inner-box {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 15px;

	@media (min-width : 992px) {
		margin-left: -29px;
		align-items: flex-start;
	}

	@media (min-width : 1167px) {
		margin-left: -17px;
	}	
}

.column-inner-box .form-cell {	
	input {
		width: 100%;
	}

	@media (min-width : 576px) {
		width: 300px;
	}

	@media (min-width : 768px) {
		width: 750px;
	}

	@media (min-width : 992px) {
		width: 950px;
	}

	@media (min-width : 1167px) {
		width: 1147px;
	}
}

.registration .my-subscription {
	margin-bottom: 56px;
}

.my-subscription input[type="checkbox"]{
	display: none;
}

.my-subscription  input[type="checkbox"]:checked + label:after{
	content: "✓";

	color: #2962FF;
	font-size: 18px;
	font-weight: bold;

	position: absolute;
	top: -2px;
	left: 3px;
}

.registration .my-subscription {
	width: 226px;
	margin: 0 auto;
	margin-bottom: 30px;

	@media (min-width : 768px) {
		width: 482px;
	}

	@media (min-width : 992px) {
		width: auto;
	}
}

.my-subscription label {
	position: relative;
	display: inline-block;

	cursor: pointer;
	text-align: justify;

	padding-left: 30px;

	&::before {
		content: "";

		position: absolute;
		top: 0;
		left: 0;

		width: 20px;
		height: 20px;

		background: #FFFFFF;
		border: 1px solid #AEAEAE;
		box-sizing: border-box;
		border-radius: 4px;
	}
}

.my-subscription a {
	color: #0D47A1;
}

.subscription-select input[type="radio"] {
	display: none;
}

.subscription-select input[type="radio"]:checked + label::after {
	
	content: "";

	width: 10px;
	height: 10px;

	background-color: #2962FF;
	border-radius: 10px;

	position: absolute;
	top: 5px;
	left: 5px;
}

.subscripion-select-box {
	display: flex;
	justify-content: center;

	@media (min-width : 992px) {
		justify-content: flex-start;
	}
}

.subscription-select {
	margin-right: 52px;

	&:last-child {
		margin-right: 0;
	}
}

.subscription-select label {
	position: relative;
	display: block;

	cursor: pointer;

	padding-left: 28px;

	&::before {
		content: "";

		position: absolute;
		top: 0;
		left: 0;

		width: 20px;
		height: 20px;

		background-color: #FFFFFF;
		border: 1px solid #AEAEAE;
		box-sizing: border-box;
		border-radius: 10px;
	}
}

/* Contacts
======================================= */
.contacts .breadcrumbs-list {
	margin-bottom: 33px;
}

.contacts h1 {
	margin-bottom: 30px;
}

.contacts .contacts-box {
	margin-bottom: 45px;

	@media (min-width : 1165px) {
		display: flex;
	}
}

.contacts-infrormation {
	padding-top: 32px;

	max-width: 542px;
	width: 100%;
	margin: 0 auto;
}

.contacts-infrormation p {
	font-size: 18px;
	line-height: 21px;
	color: #525252;
	margin-bottom: 19px;

	&:first-child {
		margin-bottom: 26px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.contacts-infrormation .bold {
	font-weight: bold;
	color: #2C2C2C;
}

.contacts-form {
	background: #F5F5F5;

	padding: 32px 24px;
	max-width: 565px;
	width: 100%;
	margin: 0 auto;
	
	@media (min-width : 1165px) {
		margin-right: 17px;
	}
}

.contacts h2 {
	margin-bottom: 15px;

	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #0D47A1;
}

.contacts-form .inputForGlobal {
	margin-bottom: 16px;

	@media (min-width : 1165px) {
		max-width: 516px;
	}
}

.form-cell textarea {
	background: #FFFFFF;
	border: 1px solid #AEAEAE;
	box-sizing: border-box;
	border-radius: 6px;

	font-size: 16px;
	line-height: 18px;
	color: #757575;

	resize: none;

	padding: 17px 18px;
	margin-bottom: 32px;
	height: 179px;
	width: 100%;

	&::placeholder {
		color: #BDBDBD;
	}
}

.contacts-form textarea {
	@media (min-width : 1165px) {
		width: 516px;
		height: 179px;
	}
}

.contacts-form button[type="submit"] {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;

	max-width: 274px;
	width: 100%;
	height: 52px;
}

.contacts #map{
	width: 100%;
	height: 304px;
	
	@media (min-width : 992px) {
		height: 461px;	
	}
}

/* Brends
===================================== */
.brends {
	padding-bottom: 100px;
}

.brends .breadcrumbs-list {
	margin-bottom: 33px;
}

.brends h1 {
	margin-bottom: 20px;

	@media (min-width : 768px) {
		margin-bottom: 43px;
	}
}

.brends .tab {
	margin-bottom: 43px;
}

.brends .tab ul {
	@media (min-width : 420px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: -5px;	
	}

	@media (min-width : 1165px) {
		margin-left: -20px;
	}
}

.brends .tab li {
	margin-bottom: 5px;

	@media (min-width : 420px) {
		margin-left: 5px;
	}

	@media (min-width : 768px) {
		margin-bottom: 10px;
	}

	@media (min-width : 1165px) {
		margin-bottom: 19px;
		margin-left: 20px;
	}
}

.brends .tab__box {
	margin-top: -19px;

	display: flex;
	flex-direction: column;
	align-items: center;

	@media (min-width : 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		margin-left: -5px;
	}

	@media (min-width : 992px) {
		margin-left: -60px;
	}

	@media (min-width : 1165px) {
		margin-left: -17px;
	}
}

.brends .tab a {
	display: inline-block;
	background-color: #F5F5F5;
	border-radius: 23px;

	padding: 7px 10px;	

	font-size: 12px;
	line-height: 15px;
	color: #212121;
	text-align: center;

	&.active {
		background-color: #2962FF;
		color: #FFFFFF;
	}	

	@media (min-width : 768px) {
		font-size: 16px;
		line-height: 19px;
		padding: 13px 28px;	
	}

	@media (min-width : 992px) {
		font-size: 18px;
		line-height: 21px;
	}
}

.tab-column {
	padding: 47px 22px 22px;
	max-width: 371px;
	width: 100%;
	margin-bottom: 20px;

	background-color: #FFFFFF;
	box-shadow: 0px 6px 19px rgba(0, 0, 0, 0.141308);
	border-radius: 17px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width : 768px) {
		margin-bottom: 39px;
		margin-left: 5px;

		&:last-child {
			margin-bottom: 39px;
		}
	}

	@media (min-width : 992px) {
		margin-left: 60px;
		margin-bottom: 60px;
	}

	@media (min-width : 1165px) {
		margin-left: 17px;
		margin-bottom: 39px;
	}
}

.tab-column .img {
	display: flex;
	align-items: center;
	margin-bottom: 42px;
	min-height: 100px;
}

.tab-column p {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 19px;
	color: #525252;

	max-width: 328px;
	margin-bottom: 62px;
}

.tab-column a {
	font-size: 18px;
	line-height: 21px;
	text-decoration-line: underline;
	color: #2962FF;

	display: block;
	align-self: flex-start;

	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

/* Order
======================================== */
.order {
	padding-bottom: 100px;
}

.order h1 {
	margin-bottom: 30px;
}

.order .my-authorized {
	margin-bottom: 52px;
}



.order-form {
	@media (min-width : 768px) {
		width: 600px;
		margin: 0 auto;	
	} 

	@media (min-width : 992px) {
		width: 945px;
		margin: 0 auto;
	}

	@media (min-width : 1200px) {
		width: auto;
		margin: 0;
	}
}

.order-form .order-inner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;

	@media (min-width : 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.form-cell__comment{
	max-width: 300px;
	width: 100%;
	margin: 0 auto;

	@media (min-width : 768px) {
		max-width: unset;
		width: auto;
		margin: 0;
	}
}

.order-form .my-subscription {
	max-width: 300px;
	width: 100%;

	margin: 0 auto;
	margin-bottom: 32px;

	@media (min-width : 768px) {
		max-width: unset;
		width: auto;
		margin: 0;
		margin-bottom: 32px;
	}
}

.order-inner {
	@media (min-width : 992px) {
		margin-left: -29px;	
	}

	@media (min-width : 1165px) {
		margin-left: -17px;
	}
}

.order-inner .form-cell {
	@media (min-width : 992px) {
		margin-left: 29px;	
	}

	@media (min-width : 1165px) {
		margin-left: 17px;
	}
}

.order-inner_top {
	margin-bottom: 32px;
}

.order-form .order-inner__bottom {
	margin-bottom: -16px;

	@media (min-width : 992px) {
		justify-content: flex-start;
	}
}

.order-form .inputForGlobal {
	margin-bottom: 16px;

	@media (min-width : 576px) {
		width: 300px;
	}

	@media (min-width : 768px) {
		width: 295px;
	}

	@media (min-width : 1167px) {
		width: 371px;
	}
}

.order .form-block h2 {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #525252;

	margin-bottom: 31px;
}

.form-block .subscripion-select-box {
	display: flex;
	flex-direction: column;
}

.form-block .subscription-select {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.delivery .subscription-select h3 {
	margin-bottom: 15px;

	font-size: 18px;
	line-height: 21px;
}

.delivery-block,
.pay-block {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 300px;
	width: 100%;
	margin: 0 auto;

	@media (min-width : 768px) {
		max-width: unset;
		align-items: flex-start;
	}
}

.order-form .pay .subscription-select {
	margin-bottom: 18px;

	&:last-child {
		margin-bottom: 0;
	}
}

.bonus-block {
	margin-bottom: 61px;

	@media (min-width : 992px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.bonus-column {
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	padding: 23px 14px 20px 25px;
	background-color: #F5F5F5;

	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width : 576px) {
		max-width: 375px;
	}

	@media (min-width : 768px) {
		max-width: 565px;
	}

	@media (min-width : 992px) {
		max-width: 460px;
		margin-bottom: 0px;	
		margin: 0;	
	}

	@media (min-width : 1200px) {
		max-width: 565px;
		margin-right: 17px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.bonus-inner .inputForGlobal {
	max-width: 137px;
	width: 100%;
	margin-right: 10px;

	&::placeholder {
		color: #BDBDBD;
	}

	@media (min-width : 576px) {
		max-width: 220px;
	}

	@media (min-width : 768px) {
		max-width: 332px;
	}

	@media (min-width : 992px) {
		max-width: 285px;
	}

	@media (min-width : 1200px) {
		max-width: 332px;
	}
}

.bonus-column label {
	margin-bottom: 15px;

	display: block;

	font-size: 18px;
	line-height: 21px;
	color: #525252;
}

.bonus-inner .inputForGlobal {
	margin-bottom: 0;
}

.bonus-column button {
	width: 100px;
	height: 52px;

	border-radius: 7px;

	@media (min-width : 768px) {
		width: 180px;
	}

	@media (min-width : 992px) {
		width: 120px;
	}

	@media (min-width : 1200px) {
		width: 180px;
	}
}

.order-form .agree {
	margin-bottom: 61px;
}

.order-form .sub {
	width: 274px;
	height: 52px;

	border-radius: 7px;	
	margin: 0 auto;
	display: block;

	@media (min-width : 768px) {
		display: inline-block;
	}
}